---
- name: Oracle UPDATE Operation
  hosts: all
  gather_facts: false
  vars:
    ansible_user: ubuntu
    customer_id: "{{ customer_id }}"
    new_email: "{{ new_email }}"
 
  tasks:
    - name: Create UPDATE SQL file
      copy:
        dest: /tmp/update_customer.sql
        content: |
          UPDATE customers 
          SET email = '{{ new_email }}'
          WHERE customer_id = {{ customer_id }};
          COMMIT;
          EXIT;
 
    - name: Copy SQL file into container
      command: docker cp /tmp/update_customer.sql oracle-xe:/tmp/update_customer.sql
 
    - name: Execute UPDATE statement
      command: docker exec oracle-xe sqlplus -S appuser/Azalio123456@XEPDB1 @/tmp/update_customer.sql
      register: sql_result
 
    - name: Show result
      debug:
        var: sql_result.stdout_lines
