---
- name: Oracle UPDATE Operation
  hosts: "{{ db_host }}"
  gather_facts: false
  vars:
    ansible_user: ubuntu
    customer_id: "{{ customer_id }}"
    new_email: "{{ new_email }}"
    db_user: "{{ db_user | default('appuser') }}"
    db_password: "{{ db_password | default('Azalio123456') }}"
    db_service: "{{ db_service | default('XEPDB1') }}"
 
  tasks:
    - name: Create UPDATE SQL file
      copy:
        dest: /tmp/update_customer.sql
        content: |
          UPDATE customers 
          SET email = '{{ new_email }}'
          WHERE customer_id = {{ customer_id }};
          COMMIT;
          EXIT;
 
    - name: Copy SQL file into container
      command: docker cp /tmp/update_customer.sql oracle-xe:/tmp/update_customer.sql
 
    - name: Execute UPDATE statement
      command: docker exec oracle-xe sqlplus -S {{ db_user }}/{{ db_password }}@{{ db_service }} @/tmp/update_customer.sql
      register: sql_result
 
    - name: Show result
      debug:
        var: sql_result.stdout_lines
